<<<<<<< HEAD
<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
=======
<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<p>This will be a signup page for new users.</p>
>>>>>>> 9ca549c181a1c8e2ffbbbd2be57244f2dfb53323
